.navbar-nav-custom{
  width:100%;
  list-style:none;
  flex-wrap: nowrap; 
}

.thumb-followItem{
  width:60px;
  height:60px;
  float:left;
}

.followItem-thumbnail-container{
  width:60px !important;
}

.followItem-textbox{
  float:left;
  width:calc(60px - 100%) !important
}

